:root {
    --spacing: 40px;

    --header-height: 102px;

    --bio-card-width: calc((100vw - 2*var(--spacing))/4);
    --bio-card-height: calc(100vh - var(--header-height) - 2*var(--spacing));

    --nav-button-width: calc((100vw - 2*var(--spacing))/8);
    --nav-button-height: 56px;

    --content-block-width: calc(100vw - var(--bio-card-width) - 3*var(--spacing));

    --primary-border: solid 4px var(--primary);




    --dark: #141010;
    
    --primary: #F70776;
    --primary-second: #C3195D;
    --primary-third: #680747;
    
    --secondary: #76F707;
    --secondary-second: #55AA0A;
    --secondary-third: #355D0D;
    
    --tertiary: #0776F7;
    --tertiary-second: #0B54AA;
    --tertiary-third: #10325D;
}

@media screen and (max-width: 1200px) {
    :root {
        --spacing: 40px;

        --header-height: 102px;

        --bio-card-width: calc((100vw - 2*var(--spacing))/4);
        --bio-card-height: calc(100vh - var(--header-height) - 2*var(--spacing));

        --nav-button-width: calc((100vw - 2*var(--spacing))/4);
        --nav-button-height: 56px;

        --content-block-width: calc(100vw - var(--bio-card-width) - 3*var(--spacing));
    }
}

@media screen and (max-width: 800px) {
    :root {
        --spacing: 40px;

        --header-height: 102px;

        --bio-card-width: calc((100vw - 2*var(--spacing))/4);
        --bio-card-height: calc(100vh - var(--header-height) - 2*var(--spacing));

        --nav-button-width: calc((100vw - 2*var(--spacing))/2.5);
        --nav-button-height: 56px;

        --content-block-width: calc(100vw - var(--bio-card-width) - 3*var(--spacing));
    }
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    margin: 0;
    height: fill;
    background-color: var(--dark);
}

.content_align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}