:root {
    --spacing: 40px;

    --header-height: 102px;

    --bio-card-width: calc((100vw - 2*var(--spacing))/4);
    --bio-card-height: calc(100vh - var(--header-height) - 2*var(--spacing));

    --content-block-width: calc(100vw - var(--bio-card-width) - 3*var(--spacing));

    --primary-border: solid 4px var(--primary);




    --dark: #141010;
    
    --primary: #F70776;
    --primary_second: #C3195D;
    --primary_third: #680747;
    
    --secondary: #76F707;
    --secondary_second: #55AA0A;
    --secondary_third: #355D0D;
    
    --tertiary: #0776F7;
    --tertiary_second: #0B54AA;
    --tertiary_third: #10325D;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    margin: 0;
    height: fill;
    background-color: var(--dark);
}

.content_align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}